@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; 
}

/* Efectos de la barra de navegación */
.icono-nav { transition: color 0.3s ease; }
.icono-nav:hover { color: #198754 !important; }
.nav-link:hover { color: #198754 !important; }

/* El Banner inicial del index.html */
.hero-section {
    height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1622285434720-0431b26a6f3b?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
}

/* Tarjetas de productos */
.producto-card {
    background-color: #111;
    border: 1px solid #333;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.producto-card:hover {
    transform: translateY(-5px);
    border-color: #198754;
}

.producto-card img {
    object-fit: contain;
    padding: 10px;
    height: 250px;
}

.btn-agregar {
    background-color: transparent;
    color: #fff;
    border: 1px solid #198754;
    transition: all 0.3s ease;
}

.btn-agregar:hover {
    background-color: #198754;
    color: #fff;
}

/* Carrito */
.item-carrito-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}